@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share, Build!</h1>
            <h3>Each month, over 50 million developres come to StackOverflow to learn, share knowledge and build their careers</h3>
            <p class="lead">Join the world's leading developer community</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card-header bg-light">Founded in 2008</div>
        <div class="card-body">
            Founded in 2008, Stackoverlflow is the largest, most trusted online community for developres to learn, share their knowledge and build their careers. More than 50 million professional and aspiring programmers visit stak overflow each month to help solve coding problems, develop new skills nad find job oppotunities
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-header bg-light">Our Partners</div>
        <div class="card-body">
            Stack Overflow partenrs with businesses to help them understaind, hire, engage and enable the worlds developers. Our products and servies are focued on developer marketing, technical recuriting, market reserach and enterprise knowlege sharing. Learn more about our business solutions here.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Stackoverflow offices</div>
            <img class="card-img-top" src="~/Images/offices_svg.svg" alt="Offices" />
            <div class="card-body">
               Stackoverflow emplyes more than 250 people in its head offices in New York, London and Munich as well as remote workers from Israel, Brazil, Japan, Germany, Slovenia, Spain, Poland, France, Russia, Canada, the UK and the United States. The compnay is committed to diversity in the workplace and is currently hiring. 
            </div>
        </div>

    </div>
</div>


<script>
    $("a[href='/home/about']").attr("id", "active");
</script>