

.navbar {
    background-color: #046475
}


#active
{
    color: yellow !important;
}

.navbar a:link, .navbar a:visited
{
    color: white !important;
}

.navbar a:hover{

    color: #00ff21 !important;
    text-decoration: underline;
}

.dropdown-menu a:hover{
    color: black !important;
}

.hidden{
    display: none;
}

.jumbotron {
    background-color:#fbf7f7
}